 <footer>
        <!-- <a href="#home"> &uarr; Back to top &uarr;</a> -->
        <img style="width: 150px; height: auto;" src="https://img.icons8.com/ios/452/e-commerce.png" alt="">
        <p>@2019 MoneyGone. All Rights Reserved &copy;</p>
    </footer>